<head>
  <title>Detail | Daru Lab</title>
  {% include "temp/Main-css.html" %}
</head>
<!-- akhir css  -->

<style>
  div.ex1 {
    width: 1300px;
    height: 500px;
    overflow: auto;
  }
</style>

<body>
  <!-- bagian nav -->
  <nav class="z-2 sticky-top black">{%include "temp/Temp-nav.html"%}</nav>
  <!-- akhir nav -->

  <div class="">
    <div class="row">
      <div class="col-md-7 mb-4">
        <img class="img-fluid" width="100%" height="" src="../static/img/image product/Minimal (2).png" alt="" />
      </div>
      <div class="col-md-5 mb-4 px-5 mt-5">
        <h1>
          Pil Pembersih <br />
          Kaca
        </h1>
        <span class="mt-4"><span class="text-secondary fw-medium">Made by </span><b>Daru Lab</b></span>
        <h2 class="text-war mt-4 mb-3">★★★★★</h2>
        <hr />
        <p class="mb-5 mt-5">
          Menghilangkan noda di kaca, marmer, besi, dan kayu tanpa meninggalkan
          bekas noda ataupun keputihan. Sangat rekomendasikan untuk mebel dan
          properti kesayangan Anda!.
        </p>

        <button class="btn btn-dark w-100 rounded-pill">
          <span class="fw-medium">Add to Cart</span>
        </button>
      </div>
    </div>

    <div class="container-md">
      <div class="row">
        <div class="col-md-6 mb-4 mt-5">
          <h3 data-aos="zoom-in-up" class="mb-3">Cara Pemakaian</h3>

          <!-- <ol>
            <li><b>Pastikan</b> mesin cuci dalam keadaan kosong</li>
            <li>
              Khusus mesin cuci top loading, <b>isi </b> tabung mesin cuci
              dengan air dahulu
            </li>
            <li>
              <b>Ambil</b> 1 atau 2 buah pil (Kapasitas tabung >7 kg = 2 pil)
            </li>
            <li>
              <b>Letakkan</b> pil ke dalam tabung mesin cuci (Jangan masukkan ke
              dispenser)
            </li>
            <li><b>Jalankan</b> mode pencucian dengan waktu tercepat</li>
            <li>
              <b>Tunggu</b> siklus mesin cuci berhenti dan mesin cuci dapat
              digunakan seperti biasa (Bersihkan mesin cuci setiap 2 bulan)
            </li>
          </ol> -->
          <ol class="list-group list-group-flush" data-aos="zoom-in-up">
            <li class="list-group-item">
              <b>Sediakan</b>botol berisi 1 liter air bersih
            </li>
            <li class="list-group-item">
              <b>Ambil</b> dan <b>masukkan</b> 1 buah pil ke dalam botol
            </li>
            <li class="list-group-item">
              <b>Tunggu</b> hingga <b>± 3 </b> menit untuk pil melepaskan
              kandungan zatnya
            </li>
            <li class="list-group-item">
              <b>Setelah itu,</b> Anda dapat membersihkan kaca, marmer, bersi, dan
              kayu dengan larutan tersebut
            </li>

          </ol>
        </div>
        <div class="col-6 d-flex justify-content-end mb-4 mx-auto">
          <img class="img-fluid rounded myimg-md-none" width="440px" src="../static/img/image product/kaca cermin.jpeg" alt="" data-aos="zoom-in-up" />
        </div>
      </div>
    </div>
    <!-- bagian komentar -->
    <div class="container-md" style="margin-bottom: 100px">
      <div class="row my-5 md-comment">
        <div class="col-9"></div>
        <button
          data-aos="zoom-in-up"
          class="col-3 btn btn-outline-dark fw-bold"
        >
          Tulis Ulasan
        </button>
      </div>
      <span
        data-aos="zoom-in-up"
        style="box-sizing: border-box"
        class="fs-5 fw-bold bg-dark text-light text-center align-item-center p-3 rounded"
        >4.9
        <span class="text-war mb-3 fw-bold fs-5 text-light"> ★★★★★</span></span
      >
      <!-- isi komen -->
      <div class="row my-5 comment-list" data-aos="zoom-in-up">
        <div class="col-md-3 my-auto">
          <p class="fw-bold fs-4">Janis w.p</p>
          <hr />
          <span class="text-secondary">5 Bulan yang lalu</span>
        </div>
        <div class="col-md-9">
          <p class="text-war mb-3 fw-bold fs-5">★★★★★</p>
          <p class="fw-light fs-4">Simple , bersih dan mudah untuk digunakan.</p>
          <span class="fs-16px"
            >recommended banget sih produknya</span
          >
        </div>
      </div>
      <div class="row my-5 comment-list" data-aos="zoom-in-up">
        <div class="col-md-3 my-auto">
          <p class="fw-bold fs-4">Siti</p>
          <hr />
          <span class="text-secondary">6 Bulan yang lalu</span>
        </div>
        <div class="col-md-9">
          <p class="text-war mb-3 fw-bold fs-5">★★★★★</p>
          <p class="fw-light fs-4">Simple , bersih dan mudah untuk digunakan.</p>
          <span class="fs-16px"
            >setelah saya membeli produk ini, mesin cuci saya jadi lebih bersih</span
          >
        </div>
      </div>
      <!-- akhir isi komen -->
      <div class="com-foot text-center">
        <hr class="mt-5" />
        <button class="btn-more">Show More <i class="fa-solid fa-caret-down" style="color: grey;"></i></button>
      </div>
    </div>
  </div>

  <!-- button contact -->
  <button type="button" class="btn btn-success btn-toast-fixed p-3 rounded-circle" id="liveToastBtn">
    <i class="fa-solid fa-comment-dots fs-2" style="color: #ffffff"></i>
  </button>
  <!-- akhir button contact -->

  <!-- bagian kontak -->
  <div id="toastv" class="toast-container position-fixed end-0 p-3 toast-bt">
    <div id="liveToast" class="toast shadow" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Daru Lab</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body row mb-3">
        <div class="col-md-8">
          <button class="btn btn-primary mb-3 col-md-10">
            Kontak untuk info lebih lanjut
          </button>
          <button class="btn btn-primary mb-3">
            <i class="bi bi-instagram"></i>@daru.lab
          </button>
          <button class="btn btn-primary">+62 812-1656-1016</button>
          <p class="mt-3">Daru bot</p>
        </div>
      </div>
    </div>
  </div>

  <footer class="z-2">{% include "temp/Temp-footer.html"%}</footer>
  {%include "temp/Main-js.html"%}
  <!-- akhir javascript -->
</body>