<head>
  <title>FAQ | Daru Lab</title>
  {% include "temp/Home-css.html" %}
</head>

<body class="pop">
 <!-- bagian nav -->
 <nav class="z-2 sticky-top black">
    {%include "temp/Temp-nav.html"%}
 </nav>
 <!-- akhir nav -->

  <div class="container">
    <div class="row mt-5 ">
      <div class="col-md-6  mb-4 ">
        <h1 class=" mt-5 col-md-4 faq">
          Daru Lab Frequently Asked Questions
        </h1>
        <b>
          <p>Temukan jawaban atas pertanyaan Anda disini</p>
        </b>
      </div>
      <div class="col-md-6 mb-6 px-5">
        <div class="row mt-5">
          <img class="img-fluid rounded-5" width=" 600px" src="../static/img/orang.jpg " alt="">
        </div>

      </div>
    </div>

  </div>

  <div class="container mb-5">
    <div class="row mt-3">
      <!-- <div class="col-md-6 mb-4"> -->
      <h1 class="mt-5 col-md-8 product">Our Products FAQs</h1>
      <hr>

      <div class="accordion accordion-flush z-1" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Apakah produk ini aman bagi kulit?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"> <p>A : produk ini sangat aman bagi kulit, karena produk merupakan
        produk natural dan hypoalergic yang dapat meminimalisir sensitivitas pada kulit.</p>
        </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Bagaimana cara menggunakan Pil Pembersih Mesin Cuci?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><p>A : untuk penggunaan pil pembersih mesin cuci, cukup dengan cara sebagai berikut.</p>
      <p>1. Pastikan mesin cuci dalam keadaan kosong</p>
      <p>2. Khusus mesin cuci top loading, isi tabung mesin cuci dengan air dahulu</p>
      <p>3. Ambil 1 atau 2 buah pil (Kapasitas tabung >7 kg = 2 pil)</p>
      <p>4. Letakkan pil ke dalam tabung mesin cuci (Jangan masukkan ke dispenser)</p>
      <p>5. Jalankan mode pencucian dengan waktu tercepat</p>
      <p>6. Tunggu siklus mesin cuci berhenti dan mesin cuci dapat digunakan seperti biasa (Bersihkan mesin cuci setiap
        2 bulan).
      </p>
    </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Bagaimana saya tahu produk apa yang tepat untuk saya?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><p>A : untuk mengetahui produk yang tepat,sebelumnya anda perlu mengetahui
                kegunaan dari setiap produk.</p>
              <p> -jika anda ingin membersihkan toilet duduk, maka
                anda bisa memilih produk pil pembersih toilet duduk.</p>
              <p>-jika anda ingin membersihkan kaca, maka anda bisa
                memilih produk pil pembersih kaca.</p>
              <p> -jika anda ingin membersihkan mesin cuci, maka anda bisa
                memilih produk pil pembersih mesin cuci.</p>
              <p> -jika anda ingin membersihkan wiper mobil, maka anda
                bisa memilih produk pil pembersih wiper mobil.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                Berapa lamakah jangka umur simpan produk?
            </button>
          </h2>
          <div id="flush-collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><p>A : untuk jangka umur produk selama 5 tahun</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                Bagaimana produk ini bisa didapatkan?
            </button>
          </h2>
          <div id="flush-collapsefive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><p>A : produk ini bisa didapatkan dengan cara pembelian menggunakan
                e-commerce seperti shopee, tokopedia dan media sosial seperti
                instagram dan whatsapp Daru Lab.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  </div>


  <a type="button" class="btn btn-success btn-toast-fixed p-3 rounded-circle" id="liveToastBtn">
    <i class="fa-solid fa-comment-dots fs-2" style="color: #ffffff;"></i>
  </a>



  </div>
  </div>

  <!-- Toast -->
  <div class="toast-container position-fixed end-0 p-3 toast-bt">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Daru Lab</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body row mb-3">
        <div class="col-md-8">
          <button class="btn btn-primary mb-3 col-md-10">
            Kontak untuk info lebih lanjut
          </button>
          <button class="btn btn-primary mb-3">@daru.lab</button>
          <button class="btn btn-primary">@daru.lab</button>
          <p class="mt-3">Daru bot</p>
        </div>
      </div>
    </div>
  </div>

<!-- footer -->
<footer class="z-2">
  {% include "temp/Temp-footer.html" %}
</footer>

  {%include "temp/Main-js.html"%}

</body>