<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Daru Lab</title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='font/font.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript">
    /*menu button onclick function*/
    $(document).ready(function () {
      $(".menu h4").click(function () {
        $("nav ul").toggleClass("active");
      });
    });
  </script>
</head>

<body class="pop">
  <!-- bagian nav -->
  <nav class="z-1 black sticky-top mb-5">
            <div class="container d-flex">
      <ul class="flex-column">
        <li class="me-3"><a href="">Produk</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tentang
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="dampak .html">Dampak</a></li>
            <li><a class="dropdown-item" href="About.us.html">Tentang Kami</a></li>
            <li><a class="dropdown-item" href="/faq">FAQ</a></li>
          </ul>
        </li>

      </ul>
      <a href="index.html" class="logo" style="margin: 15px; float: none; text-align: center ">
        <img src="../static/img/logo.png" alt="" height="40px " />
      </a>
      <ul></ul>
      <a style="margin-top: 27px; float: none; text-align: center" class="cart fs-5" href=""><i
          class="fa-solid fa-cart-shopping" style="color: #ffffff"></i></a>
    </div>
  </nav>

  <div class="container">
    <div class="row mt-5 ">
      <div class="col-md-6  mb-4 ">
        <h1 class=" mt-5 col-md-4 faq">
          Daru Lab Frequently Asked Questions
        </h1>
        <b>
          <p>Temukan jawaban atas pertanyaan Anda disini</p>
        </b>
      </div>
      <div class="col-md-6 mb-6 px-5">
        <div class="row mt-5">
          <img class="img-fluid rounded-5" width=" 600px" src="../static/img/orang.jpg " alt="">
        </div>

      </div>
    </div>

  </div>

  <div class="container mb-5">
    <div class="row mt-3">
      <!-- <div class="col-md-6 mb-4"> -->
      <h1 class="mt-5 col-md-8 product">Our Products FAQs</h1>
      <hr>

      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Apakah produk ini aman bagi kulit?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"> <p>A : produk ini sangat aman bagi kulit, karena produk merupakan
        produk natural dan hypoalergic yang dapat meminimalisir sensitivitas pada kulit.</p>
        </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Bagaimana cara menggunakan Pil Pembersih Mesin Cuci?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><p>A : untuk penggunaan pil pembersih mesin cuci, cukup dengan cara sebagai berikut.</p>
      <p>1. Pastikan mesin cuci dalam keadaan kosong</p>
      <p>2. Khusus mesin cuci top loading, isi tabung mesin cuci dengan air dahulu</p>
      <p>3. Ambil 1 atau 2 buah pil (Kapasitas tabung >7 kg = 2 pil)</p>
      <p>4. Letakkan pil ke dalam tabung mesin cuci (Jangan masukkan ke dispenser)</p>
      <p>5. Jalankan mode pencucian dengan waktu tercepat</p>
      <p>6. Tunggu siklus mesin cuci berhenti dan mesin cuci dapat digunakan seperti biasa (Bersihkan mesin cuci setiap
        2 bulan).
      </p>
    </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Bagaimana saya tahu produk apa yang tepat untuk saya?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><p>A : untuk mengetahui produk yang tepat,sebelumnya anda perlu mengetahui
                kegunaan dari setiap produk.</p>
              <p> -jika anda ingin membersihkan toilet duduk, maka
                anda bisa memilih produk pil pembersih toilet duduk.</p>
              <p>-jika anda ingin membersihkan kaca, maka anda bisa
                memilih produk pil pembersih kaca.</p>
              <p> -jika anda ingin membersihkan mesin cuci, maka anda bisa
                memilih produk pil pembersih mesin cuci.</p>
              <p> -jika anda ingin membersihkan wiper mobil, maka anda
                bisa memilih produk pil pembersih wiper mobil.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                Berapa lamakah jangka umur simpan produk?
            </button>
          </h2>
          <div id="flush-collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><p>A : untuk jangka umur produk selama 5 tahun</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                Bagaimana produk ini bisa didapatkan?
            </button>
          </h2>
          <div id="flush-collapsefive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><p>A : produk ini bisa didapatkan dengan cara pembelian menggunakan
                e-commerce seperti shopee, tokopedia dan media sosial seperti
                instagram dan whatsapp Daru Lab.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  </div>


  <a type="button" class="btn btn-success btn-toast-fixed p-3 rounded-circle" id="liveToastBtn">
    <i class="fa-solid fa-comment-dots fs-2" style="color: #ffffff;"></i>
  </a>



  </div>
  </div>

  <!-- Toast -->
  <div class="toast-container position-fixed end-0 p-3 toast-bt">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Daru Lab</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body row mb-3">
        <div class="col-md-8">
          <button class="btn btn-primary mb-3 col-md-10">
            Kontak untuk info lebih lanjut
          </button>
          <button class="btn btn-primary mb-3">@daru.lab</button>
          <button class="btn btn-primary">@daru.lab</button>
          <p class="mt-3">Daru bot</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid footer">
    <div class="container text-white">
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-6 text-center">
            <!-- <img src="../static/img/map.png" alt="" class="my-3 img-fluid" /> -->
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.297888390594!2d112.7915740745021!3d-7.320397330597662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7fa96c78410c7%3A0xbe4cb24e572c77a1!2sJl.%20Medokan%20Asri%20Utara%20XIV%20No.35%2C%20Medokan%20Ayu%2C%20Kec.%20Rungkut%2C%20Surabaya%2C%20Jawa%20Timur%2060295!5e0!3m2!1sid!2sid!4v1695084264087!5m2!1sid!2sid"
              width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade" class="my-3 img-fluid rounded mx-2"></iframe>
          </div>
          <div class="col-md-6"></div>
          <p class="fs-14">
            <img src="../static/img/logo.png" class="me-2" alt="" height="40px" />
            Copyright ©2023 – Daru Lab. – All rights reserved.
          </p>
        </div>
        <div class="col-md-6 mt-5">
          <div class="row">
            <div class="col-md-3 d-flex flex-column fs-14">
              <h4 class="text-secondary fs-5 fw-bold">Product</h4>
              <a href="" class="footer-link">All Products</a>
            </div>
            <div class="col-md-3 d-flex flex-column fs-14">
              <h4 class="text-secondary fs-5 fw-bold">About</h4>
              <a href="" class="footer-link">Sustainability</a>
              <a href="" class="footer-link">About Us</a>
              <a href="" class="footer-link">FAQ</a>
            </div>
            <div class="col-md-6 d-flex flex-column fs-14">
              <h4 class="text-secondary fs-5 fw-bold">Contact</h4>
              <a href="" class="footer-link">+62 812-1656-1016</a>
              <a href="" class="footer-link mb-3">daru.lab@gmail.com</a>
              <a href="" class="footer-link">Jl. Medokan Asri Utara XIV No.35. Medokan Ayu, Kec. Rungkut,
                Kota Surabaya, Jawa Timur 602950</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap.min.js') }}" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script>
    AOS.init();
  </script>
  <script>
    const toastTrigger = document.getElementById("liveToastBtn");
    const toastLiveExample = document.getElementById("liveToast");

    if (toastTrigger) {
      const toastBootstrap =
        bootstrap.Toast.getOrCreateInstance(toastLiveExample);
      toastTrigger.addEventListener("click", () => {
        toastBootstrap.show();
      });
    }
  </script>
</body>