<div class="responsive-bar">
    <div class="menu">
      <h4>Menu</h4>
    </div>
  </div>
  <nav class="z-2">
    <div class="container d-flex">
      <ul class="flex-col">
        <li class="me-3"><a href="">Produk</a></li>
        <li><a href="">Tentang</a></li>
      </ul>
      <a href="/" class="logo" style="margin: 15px; float: none; text-align: center">
        <img src="assets/img/logo.png" alt="" height="40px" />
      </a>
      <ul></ul>
      <a
        style="margin-top: 27px; float: none; text-align: center"
        class="cart fs-5"
        href=""
        ><i class="fa-solid fa-cart-shopping" style="color: #ffffff"></i
      ></a>
    </div>
  </nav>