<head>
  <title>All Product | Daru Lab</title>
  {% include "temp/Main-css.html" %}
</head>
<style>
  .button-overlay {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .image-container:hover .button-overlay {
    opacity: 1;
  }

  .button-overlay button {
    transition: background-color 0.3s;
  }

  /* Munculkan tombol saat dihover */
</style>
<body>
  <!-- bagian nav -->

  <nav class="z-2 sticky-top black">{%include "temp/Temp-nav.html"%}</nav>
  <!-- akhir nav -->

  <div class="container">
    <div class="card-1">
      <div class="row mt-5 text-center">
        <div class="col-md-12 mb-5">
          <h2>Featured product</h2>
          <h5>Everything becomes easier to clean</h5>
        </div>
      </div>
      <!-- <div class="my-5"> -->
      <!-- <div class="row mt-3 mb-5">
          <div class="col-md-6 text-center">
            <img
              class="rounded"
              width=" 500px"
              src="../static/img/image product/pil kloset 2.png"
              alt=""
            />
          </div>
          <div class="col-md-3 text-center">
            <h6>Pil Pembersih Mesin Cuci</h6>
            <h2 class="text-war">★★★★★</h2>
            <img
              width="150px"
              src="../static/img/image product/PilMESIN CUCI.png"
              alt=""
              class="shadow"
            />
            <div class="mt-4">
              <a
                href="/produk1"
                class="btn btn-outline-daru rounded-pill shadow"
                >Beli Sekarang</a
              >
            </div>
          </div>

          <div class="col-md-3 text-center">
            <h6>Pil Pembersih Kaca</h6>
            <h2 class="text-war">★★★★★</h2>
            <img
              width=" 150px"
              src="../static/img/image product/Pil PEMBERSIH KACA.png"
              alt=""
              class="shadow"
            />
            <div class="mt-4">
              <a
                href="/produk2"
                class="btn btn-outline-daru rounded-pill shadow"
                >Beli Sekarang</a
              >
            </div>
          </div> -->
      <!-- </div> -->
      <!-- <div class="row mb-5">
          <div class="col-md-3 text-center">
            <h6>Pil Pembersih Kloset duduk</h6>
            <h2 class="text-war">★★★★★</h2>
            <img
              width="150px"
              src="../static/img/image product/Pil PEMBERSIH KLOSET.png"
              alt=""
              class="shadow"
            />
            <div class="mt-4">
              <a
                href="/produk3"
                class="btn btn-outline-daru rounded-pill shadow"
                >Beli Sekarang</a
              >
            </div>
          </div>

          <div class="col-md-3 text-center">
            <h6>Pil Pembersih Wiper Mobil</h6>
            <h2 class="text-war">★★★★★</h2>
            <img
              width=" 150px"
              src="../static/img/image product/Pil PEMBERSIH WIPER M.png"
              alt=""
              class="shadow"
            />
            <div class="mt-4">
              <a
                href="/produk4"
                class="btn btn-outline-daru rounded-pill shadow"
                >Beli Sekarang</a
              >
            </div> -->
      <!-- </div>
          <div class="col-md-6 text-center">
            <img
              width=" 500px"
              src="../static/img/image product/Pil pembersih mesin cuci2.png"
              alt=""
            />
          </div>
        </div>
      </div> -->
      <div class="row row-cols-1 g-4">
        <div class="col-md-6">
          <div data-aos="zoom-in-up" class="card h-100 border border-0">
            <img
              src="../static/img/image product/atas.jpg"
              class="card-img-top"
              alt="..."
              style="width: 100%; height: 370px"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div data-aos="zoom-in-up" class="card h-100 border border-0">
            <div class="position-relative d-inline-block image-container">
              <img
                src="../static/img/image product/test1.png"
                class="card-img-top h-100"
                alt="..."
                style="height: 257px"
              />
              <div class="button-overlay d-grid gap-2 w-100 container">
                <a class="rounded-pill btn btn-dark" href="/produk4"
                  >Learn More</a
                >
                <button class="rounded-pill btn btn-outline-light fw-medium">
                  Add to Cart
                </button>
              </div>
            </div>

            <div class="card-body p-0 py-2">
              <div class="row">
                <span style="font-size: 18px" class="fw-semibold col-6"
                  >Pil Pembersih Wiper Mobil</span
                >
                <span style="font-size: 14px" class="text-end fw-medium col-6"
                  >Rp. 50.148</span
                >
              </div>

              <p style="font-size: 14px" class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis, earum.
              </p>
            </div>
          </div>
        </div>
        <div data-aos="zoom-in-up" class="col-md-3">
          <div class="card h-100 border border-0">
            <div class="position-relative d-inline-block image-container">
              <img
                src="../static/img/image product/test2.png"
                class="card-img-top h-100"
                alt="..."
                style="height: 257px"
              />
              <div class="button-overlay d-grid gap-2 w-100 container">
                <a class="rounded-pill btn btn-dark" href="/produk3"
                  >Learn More</a
                >
                <button class="rounded-pill btn btn-outline-light fw-medium">
                  Add to Cart
                </button>
              </div>
            </div>
            <div class="card-body p-0 py-2">
              <div class="row">
                <span style="font-size: 18px" class="fw-semibold col-6"
                  >Pil Pembersih Kloset Duduk</span
                >
                <span style="font-size: 14px" class="text-end fw-medium col-6"
                  >Rp. 58.062</span
                >
              </div>

              <p style="font-size: 14px" class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis, earum.
              </p>
            </div>
          </div>
        </div>
        <div data-aos="zoom-in-up" class="col-md-3">
          <div class="card h-100 border border-0">
            <div class="position-relative d-inline-block image-container">
              <img
                src="../static/img/image product/test3.png"
                class="card-img-top h-100"
                alt="..."
                style="height: 257px"
              />
              <div class="button-overlay d-grid gap-2 w-100 container">
                <a class="rounded-pill btn btn-dark" href="/produk1"
                  >Learn More</a
                >
                <button class="rounded-pill btn btn-outline-light fw-medium">
                  Add to Cart
                </button>
              </div>
            </div>
            <div class="card-body p-0 py-2">
              <div class="row">
                <span style="font-size: 18px" class="fw-semibold col-6"
                  >Pil Pembersih Mesin Cuci</span
                >
                <span style="font-size: 14px" class="text-end fw-medium col-6"
                  >Rp. 67.789</span
                >
              </div>

              <p style="font-size: 14px" class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis, earum.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div data-aos="zoom-in-up" class="card h-100 border border-0">
            <div class="position-relative d-inline-block image-container">
              <img
                src="../static/img/image product/test4.png"
                class="card-img-top h-100"
                alt="..."
                style="height: 257px"
              />
              <div class="button-overlay d-grid gap-2 w-100 container">
                <a class="rounded-pill btn btn-dark" href="/produk2"
                  >Learn More</a
                >
                <button class="rounded-pill btn btn-outline-light fw-medium">
                  Add to Cart
                </button>
              </div>
            </div>
            <div class="card-body p-0 py-2">
              <div class="row">
                <span style="font-size: 18px" class="fw-semibold col-6"
                  >Pil Pembersih Kaca</span
                >
                <span style="font-size: 14px" class="text-end fw-medium col-6"
                  >Rp. 42.626</span
                >
              </div>

              <p style="font-size: 14px" class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis, earum.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            data-aos="zoom-in-up"
            class="card h-100 border border-0 rounded-0"
          >
            <img
              src="../static/img/image product/bawah.jpg"
              class="card-img-top"
              alt="..."
              style="width: 100%; height: 370px"
            />
            <div class="button-overlay d-grid gap-2 w-100 container">
              <button class="rounded-pill btn btn-dark">Learn More</button>
              <button class="rounded-pill btn btn-outline-dark fw-medium">
                Add to Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 text-center">
      <div class="col-md-12 mb-4">
        <h2 data-aos="zoom-in-up">More Product</h2>
      </div>
    </div>
    <div class="card-2 mb-5">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- isi product -->
        {% for def in data %} {% set name = def.pname %} {% set img = def.ppic
        %} {% set id = def._id %} {% set folder = def.folder %} {% set price =
        def.price %} {% set desc = def.desc %}
        <div class="col">
          <div data-aos="zoom-in-up" class="card h-100 border border-0">
            <div class="position-relative d-inline-block image-container">
              <img
                src="../static/{{img}}"
                class="card-img-top rounded-0"
                alt="..."
                style="height: 350px"
              />
              <div class="button-overlay d-grid gap-2 w-100 container">
                <a href="/produk/{{folder}}" class="rounded-pill btn btn-dark">Learn More</a>
                <button
                  class="rounded-pill btn btn-outline-light text-dark fw-medium"
                >
                  Add to Cart
                </button>
              </div>
            </div>

            <div class="card-body p-0 py-2">
              <div class="row">
                <span style="font-size: 18px" class="fw-semibold col-6"
                  >{{name}}</span
                >
                <span style="font-size: 14px" class="text-end fw-medium col-6"
                  >Rp. {{price}}</span
                >
              </div>

              <p style="font-size: 14px" class="card-text">{{desc}}</p>
            </div>
          </div>
        </div>
        <!-- isi product -->
        {%endfor%}
      </div>
    </div>
  </div>

  <a
    type="button"
    class="btn btn-success btn-toast-fixed p-3 rounded-circle"
    id="liveToastBtn"
  >
    <i class="fa-solid fa-comment-dots fs-2" style="color: #ffffff"></i>
  </a>

  <div class="toast-container position-fixed end-0 p-3 toast-bt">
    <div
      id="liveToast"
      class="toast"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-header">
        <strong class="me-auto">Daru Lab</strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
      <div class="toast-body row mb-3">
        <div class="col-md-8">
          <button class="btn btn-primary mb-3 col-md-10">
            Kontak untuk info lebih lanjut
          </button>
          <button class="btn btn-primary mb-3">@daru.lab</button>
          <button class="btn btn-primary col-md-8">@daru.lab</button>
          <p class="mt-3">Daru bot</p>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <footer class="z-2">{% include "temp/Temp-footer.html"%}</footer>
  {%include "temp/Main-js.html"%}
</body>
