<div class="responsive-bar">
  <div class="menu">
    <h4>Menu</h4>
  </div>
</div>
<div class="container d-flex">
  <ul class="flex-column">
    <li class="me-3"><a href="/produk">Produk</a></li>
    <li class="nav-item dropdown manav">
      <a
        class="nav-link dropdown-toggle"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Tentang
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/dampak">Dampak</a></li>
        <li><a class="dropdown-item" href="/us">Tentang Kami</a></li>
        <li><a class="dropdown-item" href="/faq">FAQ</a></li>
      </ul>
    </li>
  </ul>
  <a
    href="/"
    class="logo"
    style="margin: 15px; float: none; text-align: center"
  >
    <img
      src="{{ url_for('static', filename='img/logo.png') }}"
      alt=""
      height="40px"
    />
  </a>
  <a
    style="margin-top: 27px; float: none; text-align: center"
    class="fs-5"
    id="cart-icon"
  >
    <i class="fa-solid fa-cart-shopping" style="color: #ffffff"></i>
  </a>
</div>
